In [1]:
import sqlite3


conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
query1 = """ select name, revenue from (
select facs.name, sum(case 
when memid = 0 then slots * facs.guestcost
else slots * membercost
end) as revenue
from Bookings as bks
inner join Facilities as facs
on bks.facid = facs.facid
group by facs.name
) as agg where revenue < 1000
order by revenue;            """
c = conn.cursor()
c.execute(query1)
c.fetchall()

[('Table Tennis', 180), ('Snooker Table', 240), ('Pool Table', 270)]

In [17]:
query2 = """ select mems.firstname as memfname, mems.surname as memsname, recs.firstname as recfname, recs.surname as recsname
from 
Members mems
left outer join Members recs
on recs.memid = mems.recommendedby
order by memsname, memfname; 




"""

In [18]:
c = conn.cursor()
c.execute(query2)
c.fetchall()

[('Florence', 'Bader', 'Ponder', 'Stibbons'),
 ('Anne', 'Baker', 'Ponder', 'Stibbons'),
 ('Timothy', 'Baker', 'Jemima', 'Farrell'),
 ('Tim', 'Boothe', 'Tim', 'Rownam'),
 ('Gerald', 'Butters', 'Darren', 'Smith'),
 ('Joan', 'Coplin', 'Timothy', 'Baker'),
 ('Erica', 'Crumpet', 'Tracy', 'Smith'),
 ('Nancy', 'Dare', 'Janice', 'Joplette'),
 ('David', 'Farrell', None, None),
 ('Jemima', 'Farrell', None, None),
 ('GUEST', 'GUEST', None, None),
 ('Matthew', 'Genting', 'Gerald', 'Butters'),
 ('John', 'Hunt', 'Millicent', 'Purview'),
 ('David', 'Jones', 'Janice', 'Joplette'),
 ('Douglas', 'Jones', 'David', 'Jones'),
 ('Janice', 'Joplette', 'Darren', 'Smith'),
 ('Anna', 'Mackenzie', 'Darren', 'Smith'),
 ('Charles', 'Owen', 'Darren', 'Smith'),
 ('David', 'Pinker', 'Jemima', 'Farrell'),
 ('Millicent', 'Purview', 'Tracy', 'Smith'),
 ('Tim', 'Rownam', None, None),
 ('Henrietta', 'Rumney', 'Matthew', 'Genting'),
 ('Ramnaresh', 'Sarwin', 'Florence', 'Bader'),
 ('Darren', 'Smith', None, None),
 ('Darren', 'Smith', None, None),
 ('Jack', 'Smith', 'Darren', 'Smith'),
 ('Tracy', 'Smith', None, None),
 ('Ponder', 'Stibbons', 'Burton', 'Tracy'),
 ('Burton', 'Tracy', None, None),
 ('Hyacinth', 'Tupperware', None, None),
 ('Henry', 'Worthington-Smyth', 'Tracy', 'Smith')]

In [23]:
query3=""" 
select facid, sum(slots) as "Total Slots"
from Bookings
group by facid
order by facid;  
"""

In [24]:
c = conn.cursor()
c.execute(query3)
c.fetchall()

[(0, 1320),
 (1, 1278),
 (2, 1209),
 (3, 830),
 (4, 1404),
 (5, 228),
 (6, 1104),
 (7, 908),
 (8, 910)]

In [27]:
query4 = """
select facid, sum(slots) as "Total Slots"
	from Bookings
	where
		starttime >= '2012-09-01'
		and starttime < '2012-10-01'
	group by facid
order by sum(slots);
"""

In [28]:
c = conn.cursor()
c.execute(query4)
c.fetchall()

[(5, 122),
 (3, 422),
 (7, 426),
 (8, 471),
 (6, 540),
 (2, 570),
 (1, 588),
 (0, 591),
 (4, 648)]